body{
    background-color: #1E1E29;
}
#content{
    background-color: #232332;
    width: 600px;
    margin: 0 auto;
}
button{
    border: 1px solid ;
    color: #444;
    height: 45px;
    width: 100px;
    text-align: center;
    font-size: 1.2em;
    font-weight: normal;
    margin-left: 255px;
    margin-bottom: 15px;
}
